/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-image: url("https://d2z5u6cko8phsi.cloudfront.net/assets/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

header,
header ul {
  display: flex;
}

header {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

header ul {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(90, 220, 230);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

#menu {
  display: none;
}

.menu-box {
  position: absolute;
  display: inline-block;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  position: absolute;
}

.menu-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(90, 220, 230);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  display: none;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(90, 220, 230);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: center;
}

.menu-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.menu-icon span:first-child {
  transform: none;
}

.menu-icon span:first-child {
  opacity: 1;
}

.menu-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  width: 400px;
  height: 400px;
  margin: auto 0;
  align-items: center;
}

.section__pic-container img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid grey;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

.section__text {
  align-self: center;
  text-align: center;
  color: rgb(90, 220, 230);
}

.section__text h1 {
  color: white;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  color: rgb(90, 220, 230);
}

.section__multiText {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: rgb(90, 220, 230);
  text-transform: capitalize;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(90, 220, 230) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
  color: white;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  color: white;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-container {
  background-color: rgba(27, 31, 34, 0.85);
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  border: 0.2rem solid;
  border-color: rgb(90, 220, 230);
  color: rgb(90, 220, 230);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  width: 60%;

  box-sizing: border-box;
  overflow-y: auto;
  max-height: 80%;
}

.about-container p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.major {
  text-decoration: underline;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-underline-offset: 0.6rem;
  display: flex;
  margin-bottom: 2rem;
}

.about-contents {
  padding-top: 2rem;
  display: flex;
  gap: 1rem;
}

.about-container img {
  width: 50%;
}

/* EDUCATION SECTION */

#educaiton {
  position: relative;
}

.education-container {
  background-color: rgba(27, 31, 34, 0.85);
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 0.2rem solid;
  border-color: rgb(90, 220, 230);
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  position: relative;
  font-size: 1.2rem;

  width: 35%;
  overflow-y: auto;
  max-height: 80%;
}

.education-container ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1em;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-container {
  background-color: rgba(27, 31, 34, 0.85);
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 0.2rem solid;
  border-color: rgb(90, 220, 230);
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  position: relative;

  width: 35%;
}

/* PROJECT SECTION */

#projects {
  position: relative;
}

.project-container {
  background-color: rgba(27, 31, 34, 0.85);
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 0.2rem solid;
  border-color: rgb(90, 220, 230);
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  position: relative;

  width: 35%;
  text-align: center;
}

/* SKILL SECTION */

#skills {
  position: relative;
}

.skill-container {
  background-color: rgba(27, 31, 34, 0.85);
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 0.2rem solid;
  border-color: rgb(90, 220, 230);
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  position: relative;

  width: 35%;
}

.skill-container ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1em;
}
